In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('cve.csv')
df.head()

,Unnamed: 0,mod_date,pub_date,cvss,cwe_code,cwe_name,Unnamed: 6
0,CVE-2019-16548,21/11/2019 15:15,21/11/2019 15:15,6.8,352,Cross-Site Request Forgery (CSRF),NaN
1,CVE-2019-16547,21/11/2019 15:15,21/11/2019 15:15,4.0,732,Incorrect Permission Assignment for Critical ...,NaN
2,CVE-2019-16546,21/11/2019 15:15,21/11/2019 15:15,4.3,639,Authorization Bypass Through User-Controlled Key,NaN
3,CVE-2013-2092,20/11/2019 21:22,20/11/2019 21:15,4.3,79,Improper Neutralization of Input During Web P...,NaN
4,CVE-2013-2091,20/11/2019 20:15,20/11/2019 20:15,7.5,89,Improper Neutralization of Special Elements u...,NaN

In [5]:
df['Unnamed: 0'].str.split('-')

0        [CVE, 2019, 16548]
1        [CVE, 2019, 16547]
2        [CVE, 2019, 16546]
3         [CVE, 2013, 2092]
4         [CVE, 2013, 2091]
                ...
89655     [CVE, 2007, 6444]
89656     [CVE, 2007, 6443]
89657     [CVE, 2007, 6442]
89658     [CVE, 2007, 6370]
89659     [CVE, 2007, 3004]
Name: Unnamed: 0, Length: 89660, dtype: object

In [2]:
df.dtypes

#df['mod_date'] = pd.to_datetime(df['mod_date'])
#df.head()

Unnamed: 0     object
mod_date       object
pub_date       object
cvss          float64
cwe_code        int64
cwe_name       object
Unnamed: 6    float64
dtype: object

In [3]:
df['mod_date'] = pd.to_datetime(df['mod_date'])
#df.head()

df.dtypes

Unnamed: 0            object
mod_date      datetime64[ns]
pub_date              object
cvss                 float64
cwe_code               int64
cwe_name              object
Unnamed: 6           float64
dtype: object

In [4]:
df.rename(columns = {'Unnamed: 0':'CVE'}, inplace=True)
df.head()

,CVE,mod_date,pub_date,cvss,cwe_code,cwe_name,Unnamed: 6
0,CVE-2019-16548,2019-11-21 15:15:00,21/11/2019 15:15,6.8,352,Cross-Site Request Forgery (CSRF),NaN
1,CVE-2019-16547,2019-11-21 15:15:00,21/11/2019 15:15,4.0,732,Incorrect Permission Assignment for Critical ...,NaN
2,CVE-2019-16546,2019-11-21 15:15:00,21/11/2019 15:15,4.3,639,Authorization Bypass Through User-Controlled Key,NaN
3,CVE-2013-2092,2019-11-20 21:22:00,20/11/2019 21:15,4.3,79,Improper Neutralization of Input During Web P...,NaN
4,CVE-2013-2091,2019-11-20 20:15:00,20/11/2019 20:15,7.5,89,Improper Neutralization of Special Elements u...,NaN

,CVE,mod_date,pub_date,cvss,cwe_code,cwe_name,Unnamed: 6
0,CVE-2019-16548,2019-11-21 15:15:00,2019-11-21 15:15:00,6.8,352,Cross-Site Request Forgery (CSRF),NaN
1,CVE-2019-16547,2019-11-21 15:15:00,2019-11-21 15:15:00,4.0,732,Incorrect Permission Assignment for Critical ...,NaN
2,CVE-2019-16546,2019-11-21 15:15:00,2019-11-21 15:15:00,4.3,639,Authorization Bypass Through User-Controlled Key,NaN
3,CVE-2013-2092,2019-11-20 21:22:00,2019-11-20 21:15:00,4.3,79,Improper Neutralization of Input During Web P...,NaN
4,CVE-2013-2091,2019-11-20 20:15:00,2019-11-20 20:15:00,7.5,89,Improper Neutralization of Special Elements u...,NaN

In [6]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])

In [7]:
df1

          a         b         c         d
0  0.306415 -1.604960  0.852952  0.052527
1 -0.806221  0.132963  1.284641 -0.557049
2 -0.259277  0.700027 -1.516342  1.648599

In [8]:
df2

          b         d         a
0 -2.128990 -0.434254 -1.673056
1  0.477905  2.154421  2.031471

In [10]:
pd.concat([df1, df2], ignore_index=True)

          a         b         c         d
0  0.306415 -1.604960  0.852952  0.052527
1 -0.806221  0.132963  1.284641 -0.557049
2 -0.259277  0.700027 -1.516342  1.648599
3 -1.673056 -2.128990       NaN -0.434254
4  2.031471  0.477905       NaN  2.154421

In [11]:
df3 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df4 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [12]:
df3

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [13]:
df4

  key  data2
0   a      0
1   b      1
2   d      2

In [16]:
df5= pd.merge(df3, df4, on='key')

In [17]:
df5

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [31]:
df6= pd.merge(df3, df4, on='key', how='outer')
df6

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [18]:
df7 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],'b': [np.nan, 2., np.nan, 6.],'c': range(2, 18, 4)})
df8 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],'b': [np.nan, 3., 4., 6., 8.]})

In [19]:
df7

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [20]:
df8

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [21]:
df7.combine_first(df8)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

In [22]:
def get_year(all_CVE):
    lst = []
    for c in all_CVE.split("-"):
        lst.append(c)
    return lst[1]

df["CVE-Year"] = df["CVE"].apply(get_year) 
df.head()

,CVE,mod_date,pub_date,cvss,cwe_code,cwe_name,Unnamed: 6,CVE-Year
0,CVE-2019-16548,2019-11-21 15:15:00,21/11/2019 15:15,6.8,352,Cross-Site Request Forgery (CSRF),NaN,2019
1,CVE-2019-16547,2019-11-21 15:15:00,21/11/2019 15:15,4.0,732,Incorrect Permission Assignment for Critical ...,NaN,2019
2,CVE-2019-16546,2019-11-21 15:15:00,21/11/2019 15:15,4.3,639,Authorization Bypass Through User-Controlled Key,NaN,2019
3,CVE-2013-2092,2019-11-20 21:22:00,20/11/2019 21:15,4.3,79,Improper Neutralization of Input During Web P...,NaN,2013
4,CVE-2013-2091,2019-11-20 20:15:00,20/11/2019 20:15,7.5,89,Improper Neutralization of Special Elements u...,NaN,2013

In [23]:
Our_grouped_CVEs= df.groupby('CVE-Year') ['CVE'].count()
Our_grouped_CVEs

CVE-Year
1999       50
2000       20
2001       36
2002      230
2003      282
2004      162
2005      362
2006      963
2007     2603
2008     6235
2009     4161
2010     3974
2011     3724
2012     4133
2013     4665
2014     6951
2015     6533
2016     7995
2017    12172
2018    13624
2019    10785
Name: CVE, dtype: int64

In [24]:
df.pivot_table(index=['CVE-Year', 'cvss'])

                 cwe_code
CVE-Year cvss
1999     2.1   200.000000
         2.6   362.000000
         4.3   110.000000
         4.6    76.500000
         5.0   148.714286
...                   ...
2019     9.0   136.561837
         9.3   256.286713
         9.4   287.000000
         9.7   256.500000
         10.0  299.658793

[859 rows x 1 columns]

In [26]:
df.sort_values(by=['CVE-Year'], ascending=False)

,CVE,mod_date,pub_date,cvss,cwe_code,cwe_name,Unnamed: 6,CVE-Year
0,CVE-2019-16548,2019-11-21 15:15:00,21/11/2019 15:15,6.8,352,Cross-Site Request Forgery (CSRF),NaN,2019
13490,CVE-2019-15117,2019-06-09 00:15:00,16/08/2019 14:15,4.6,119,Improper Restriction of Operations within the...,NaN,2019
13492,CVE-2019-10140,2019-06-09 00:15:00,15/08/2019 17:15,4.9,476,NULL Pointer Dereference,NaN,2019
13495,CVE-2019-15745,2019-05-09 21:23:00,29/08/2019 13:15,3.3,798,Use of Hard-coded Credentials,NaN,2019
13496,CVE-2019-13520,2019-05-09 21:15:00,20/08/2019 20:15,6.8,119,Improper Restriction of Operations within the...,NaN,2019
...,...,...,...,...,...,...,...,...
35753,CVE-1999-0766,2018-12-10 21:29:00,21/10/1999 4:00,9.3,16,Configuration,NaN,1999
35752,CVE-1999-0777,2018-12-10 21:29:00,23/09/1999 4:00,7.5,264,Permissions Privileges and Access Controls,NaN,1999
35751,CVE-1999-0794,2018-12-10 21:29:00,1/10/1999 4:00,4.6,59,Improper Link Resolution Before File Access (...,NaN,1999
35750,CVE-1999-0802,2018-12-10 21:29:00,27/05/1999 4:00,7.6,119,Improper Restriction of Operations within the...,NaN,1999
35757,CVE-1999-0725,2018-12-10 21:29:00,19/08/1999 4:00,7.1,16,Configuration,NaN,1999